<h2>Make a New Subscription Plan</h2>

<form action="<%= newspaper_subscription_plans_url(@newspaper.id) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label>Price
    <input type="text" name="subscription_plan[price]">
  </label>
  <br>
  <label>Daily
    <input type="radio" name="subscription_plan[daily]" value="true">
  </label>
  <label>Weekly 
    <input type="radio" name="subscription_plan[daily]" value="false">
  </label>
  <br>
  <input type="submit" value="Go">
</form>